body {
    margin: 10px;
    padding: 20px;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.bgimg {
    background-image: url("colorful.jpg");
    height: 100%;
    position: relative;
    /* opacity: 0.65; */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h3 {
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}
.fixedFont{
    background-color:rgba(245,245,245,0.5);
}

#beerImg {
    height: 100px;
    width: auto;
    border: 2px ridge black;
    margin-bottom: 20px;
}

#locationContainer {
    position: center;
}

.breweries {
    height: 500px;
    width: auto;
    overflow: auto;
}

.card{
    background-color: white;
    margin: 15px;
    padding: 5px;
    border: 2px ridge black
}



/*Add footer and for readme
<span>
Photo by 
    <a href="https://unsplash.com/@rmallick6806?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
    Ray Mallick
    </a> 
    on 
    <a href="https://unsplash.com/s/photos/basic-bright-background?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
    Unsplash
    </a>
</span>
*/